<h3>{{titulo}}</h3>
<div class="container">
    <button mat-raised-button color="primary" (click)="somarUmClick()">
        <mat-icon>exposure_plus_1</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="somarDoisClick()">
        <mat-icon>exposure_plus_2</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="subtrairUmClick()">
        <mat-icon>exposure_neg_1</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="subtrairDoisClick()">
        <mat-icon>exposure_neg_2</mat-icon>
    </button>
</div>
