.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.teste{
    margin: 15px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

mat-radio-group{
    display: flex;
    flex-direction: column;
}


.classe1{
    display: flex;
    flex-direction: column;
}

.classe2{
    color:red;
}

.classe3{
    display: flex;
    flex-direction: row;
}
